@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrapper {
  min-height: 100vh;
  display: flex;
  font-family: Roboto, sans-serif;
}

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.container {
    display:flex;
}